@charset "utf-8";

/* CSS Document */

* {
	margin: auto;
	padding: auto;
	font-family:"微软雅黑";
}
body{
	background: #f7f6f1;
}
.main p img{        /*加多这个样式*/
	width: 780px;
	height: 500px;
	text-align: center;
}
.box {
	padding: 0 100px;
	min-width: 280px;
	max-width: 980px;
	background: #fff;
	margin: 20px auto 0;
	color: #3a4b5b;
	font-size: 16px
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

a {
	color: #3a4b5b;
}

a:hover {
	color: #f6d047;
}
.mt20{
	margin-top: 20px;
}

/*box start*/
.box-header{
	text-align: center;
	padding-top: 10px;
}
.box h2{
	font-size: 24px;
}

.box h2:before {
	display: inline-block;
	content: url(../../img/front/detail/icon_ribbon.png);
	width: 34px;
	height: 34px;
	vertical-align: middle;
	margin-right: 16px;
}

.box h3 {
	font-weight: bold;
	font-size: 22px;
}

.box p.source {
	color: #aaa;
	font-size: 14px;
	margin-top: 8px;
}

.detail-banner {
	margin: 15px 0;
}

.detail-banner img {
	width: 680px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

p.content {
	font-size: 16px;
	text-indent: 2em;
	line-height: 26px;
}

.interact {
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}
.article-like, .article-up,.article-comment{
	z-index: 2;
    display: inline-block;
    cursor: pointer;
    margin-left:20px ;
}

.article-like .icon, .article-up .icon, .article-comment .icon{
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
}
.article-like .icon{
	background: url(../../img/front/detail/collect01.png) no-repeat 50%;
}
.article-up .icon{
	background: url(../../img/front/detail/zan01.png) no-repeat 50%;
}  
.article-comment .icon{
	background: url(../../img/front/detail/comment01.png) no-repeat 50%;
}
.article-like .icon:hover{
	background: url(../../img/front/detail/collect03.png) no-repeat 50%;
}
.article-up .icon:hover{
	background: url(../../img/front/detail/zan02.png) no-repeat 50%;
}
.article-comment .icon:hover{
	background: url(../../img/front/detail/comment3.png) no-repeat 50%;
}
.article-like span.text,.article-up span.text,.article-comment span.text{
	color: #a1a1a1;
    font-size: 14px;
}
p.title {
	font-size: 16px;
	color: #aaa;
	padding-top: 10px;
}

.list {
	margin-top: 15px;
	line-height: 30px;
	border-bottom: 1px dashed #aaa;
	height: 30px;
	padding-bottom: 15px;
}

.list left {
	float: left;
	display: block;
	max-width: 90%;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list .listimg {
	background: url(images/list_arrow.png);
	max-width: 100%;
	float: right;
	height: 30px;
	width: 16px;
}

.list .listimg<div class="col-md-7 col-sm-6 textbox" > {
	background: url(images/list_arrow_sel.png);
}

.comments {
    color: #999;
    background: rgb(250, 250, 252);
    height: 180px;
    margin-bottom: 20px;
    font-size: 15px
    }
.comments textarea {
    width: 730px;
    height: 50px;
    border: 1px solid #ececec;
    border-radius: 4px;
    padding: 3px;
    -webkit-transition: height .4s;
    transition: height .4s;
    margin: 10px 0 10px 0;
    float: left;
    clear: both;
}
.hd-comment {
    background: #f7f7fa;
    padding: 8px 25px 15px 25px;
    overflow: auto;
}

.comments-list .avatar, .comments .avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    float: left;
    width: 50px;
    height: 50px;
}
.comments .name,#message .name {
    overflow: auto;
    color: #3498db;
    font-weight: 600;
    line-height: 54px;
    padding-left: 8px;
    display: inline;
}

.comments .word-right {
    float: right;
}
#comment-btn {
    background: #2ecca9;
    color: #fff;
    line-height: 30px;
    width: 74px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    float: left;
    border-radius: 4px;
}

/*message start*/
#message{
	margin: 20px auto;
	color: #999;
	font-size: 15px;
}
#message h4{
	font-size: 16px;
	text-align: center;
	color:rgba(67, 69, 69, 0.7);
}
p.space {
	height: 20px;
	width: 780px;
	margin: 0 auto;
	border-top: 1px solid #e4eaea;
}
.comment-more{
	background: rgba(33, 150, 243, 0.12);
	border-radius: 4px;
	border: 1px rgba(33, 150, 243, 0.12) solid;
	width: 100px;
	line-height: 30px;
	margin: 0px 50% 10px 50%;
}
.comments-list .content-item {
    overflow: auto;
    padding: 10px 25px 0 25px;
}
.comments-list .comment-hd {
    float: left;
    width: 680px;     /*修改了width*/
}
.comments-list .comment-hd .right-info{
    float: right;
    line-height: 54px;  /*加多了行高属性*/
}
.comments-list p {
    padding-left: 8px;
    line-height: 24px;
    float: left;
    width: 100%;
    margin: 0;
}
.comments-list li{
	border-bottom: 1px dashed #e4eaea;
	
}
/*message end*/   
/*box end*/

